*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 59, 59);
}

body > .center {
    margin-bottom: 20px;
    font-size: 48px;
    text-align: center;
    font-size: 30px;
}

.logo {
    padding: 20px;
    margin-bottom: 15px;
}

.seta{
    padding: 20px;
}

.login-box {
    width: 500px;
    height: 500px;
    background: #7D7D7D;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin: 0 auto;
}

input {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 370px;
    height: 45px;
    box-shadow: 0px 1px 8px 0px;
}

.email {
    border-radius: 12px;
    border: black solid 1px;
    padding: 15px;
}

.senha {
    border-radius: 12px;
    border: black solid 1px;
    margin-bottom: 30px;
    padding: 10px;
}

.nome {
    border-radius: 12px;
    border: black solid 1px;
    padding: 15px;
    margin-top: 60px;
}

.confirmarsenha {
    border-radius: 12px;
    border: black solid 1px;
    margin-bottom: 10px;
    padding: 10px;
}

.botao2 {
    text-decoration: none;
    border: rgb(0, 0, 0) solid;
    background-color: rgb(0, 0, 255);
    border-radius: 13px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

.botoes{
    margin-top: 50px;
}