* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px snow;
}

main {
    max-width: 90vw;
    margin: 0 auto;
}

header>div {
    display: flex;
    align-items: center;
}

.logo {
    padding: 20px;
    margin-bottom: 15px;
}

button {
    background-color: black;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    color: white;
    max-width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 41px;
    font-size: 20px;
}

button:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

header>div>p {
    color: white;
    font-size: 26px;
    margin: 28px;
    margin-top: 50px;
    margin-left: 70px;
}

header>div>button {
    background-color: black;
    border: 2px solid white;
    border-radius: 6px;
    padding: 10px;
    color: white;
    max-width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-left: 29px;
    font-size: 20px;
}



.botao1 {
    text-decoration: none;
    border: rgb(0, 0, 0) solid;
    background-color: blue;
    border-radius: 10px;
    padding: 9px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

.botao1:hover {
    transition: 300ms;
    transform: scale(0.9);
}

.img2 {
    width: 64px;
    height: 64px;
}

.right {
    margin-right: 25px;
}

main>h1 {
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 30px;
}

.imgs1 {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.imgs1::-webkit-scrollbar {
    display: none;
}

.imgs1>img:hover {
    transition: 300ms;
    transform: scale(1.1);
}

.imgs1>img {
    margin: 40px;
    margin-bottom: 90px;
    border: 2px solid white;
    border-radius: 20px;
    width: 180px;
}

.imgs2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    overflow: scroll;
}

.imgs2::-webkit-scrollbar {
    display: none;
}

.imgs2>img:hover {
    transition: 300ms;
    transform: scale(1.1);
}

main>.imgs2>img {
    margin: 40px;
    margin-bottom: 90px;
    border: 2px solid white;
    border-radius: 20px;
}

.imgs3 {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.imgs3::-webkit-scrollbar {
    display: none;
}


.imgs3>img:hover {
    transition: 300ms;
    transform: scale(1.1);
}

main>.imgs3>img {
    margin: 40px;
    margin-bottom: 90px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.imgs3 {
    display: flex;
    justify-content: space-between;
}

.imgs3>img {
    margin: 40px;
}

.imgs2>img {
    margin: 40px;
    margin-bottom: 90px;
    border: 1px solid white;
    border-radius: 20px;
}

.imgs3>img {
    margin: 40px;
    margin-bottom: 90px;
    border: 1px solid white;
    border-radius: 20px;
}

@media (max-width:500px) {
    header>div>p {
        font-size: 14px;
        margin: 28px;
    }

    header>div>button {
        background-color: black;
        border: 2px solid white;
        border-radius: 6px;
        padding: 7px;
        color: white;
        max-width: 200px;
        height: 50px;
        margin-top: 25px;
        margin-left: 29px;
        font-size: 14px;
    }
}