* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundologin.jpg);
}

::placeholder{
    font-size: 17px;
    color: rgb(49, 49, 49);
}

body > .center {
    margin-bottom: 20px;
    font-size: 48px;
    text-align: center;
    font-size: 30px;
}

.seta{
    padding: 20px;
}

h1{
    color: rgb(213, 213, 213);
    margin-bottom: 70px;
}

.login-box {
    width: 500px;
    height: 450px;
    background: rgba(0, 0, 255, 0.401);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    margin: 0 auto;
}

input {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 370px;
    height: 45px;
    box-shadow: 0px 1px 8px 0px;
}

.email {
    border-radius: 12px;
    border: black solid 1px;
    padding: 15px;
    margin-top: 100px;
}

.senha {
    border-radius: 12px;
    border: black solid 1px;
    margin-bottom: 10px;
    padding: 10px;
}

.botao1 {
    text-decoration: none;
    border: rgb(0, 0, 0) solid;
    background-color: blue;
    border-radius: 13px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

.botao2 {
    text-decoration: none;
    border: rgb(0, 0, 0) solid;
    background-color: rgb(0, 0, 255);
    border-radius: 13px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: sans-serif;
}

.botoes{
    margin-top: 50px;
}

.botao1:hover{
    background-color: rgb(70, 70, 255);
}

.botao2:hover{
    background-color: rgb(70, 70, 255);
}